.glorious-header {
    position: absolute;
    left: 0;
    width: 100%;
    border: none;
    z-index: 800;
    height: 80px;
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));
    background: -moz-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));
    background: -ms-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));
    background: -o-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));
    background: linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));
    background-color: rgba(0,0,0,.5);
    background-color: transparent;
}
.wrapper {
    width: 950px;
    margin: 0 auto;
    position: relative;
}
.glorious-header .header-row {
    padding: 0 12px;
    box-sizing: border-box;
}
/*.row {
    display: block;
    width: 970px;
    margin: 0 -5px;
}*/
.glorious-header .header-logo {
    padding-top: 20px !important;
}
.glorious-header .header-logo {
    display: inline;
    float: left;
    width: 190px;
    margin: 0 5px 0 0;
    min-height: 1px;
    padding: 16px 0 14px;
}
.glorious-header .header-row .header-middle-container {
    display: inline;
    float: left;
    width: 470px;
    margin: 0 5px;
    min-height: 1px;
}
.primo-responsive .glorious-header .header-row .header-navigation {
    margin-right: 12px;
    float: right;
    width: auto;
}
.glorious-header .header-row .header-navigation {
    display: inline-block;
    margin: 0 5px;
    min-height: 1px;
    padding: 16px 0;
    text-align: right;
}
.glorious-header .header-row .header-navigation a.gray-link {
    filter: alpha(opacity=60);
    -khtml-opacity: .6;
    -moz-opacity: .6;
    opacity: .6;
    color: #FFF;
    font-weight: 500;
    font-size: 14px;
    transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -ms-transition: opacity .3s ease-out;
}
.glorious-header .header-row .header-navigation a.gray-link {
    color: #fff;
}
.glorious-header {
    height: 80px;
    padding: 0 30px;
}
.glorious-header .header-row .header-navigation a {
    vertical-align: middle;
    display: inline-block;
    padding: 5px;
    margin-left: 8px;
}
.glorious-header .header-row .header-navigation a, .piede .copyright .disclaimer, .piede .navigation, .primo-avenir .glorious-header .header-logo .tagline, .primo-avenir .piede h4 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*banner*/
.HeroSection.Hero {
    max-height: 400px;
    *zoom: 1;
}
.HeroSection.Hero {
    padding-top: 0;
}
.HeroSection {
    background: url(../images/hero_v2.jpeg) center center no-repeat #8e8e8e;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.Hero {
    padding: 167px 0 30px;
    color: #FFF;
    height: 100vw;
    width: 100%;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    box-sizing: border-box;
}

.CarouselBlock .CarouselPlate-frame, .Hero, .ie8 .Grid, .ie9 .Grid {
    overflow: hidden;
}
.HeroSection.Hero .ContentSection {
    display: inline;
    float: left;
    width: 82.87292817%;
    margin: 0;
    min-height: 1px;
}
.ContentSection {
    text-align: center;
    max-width: 950px;
    margin: 0 auto;
}
.Hero > *, .ImageBox {
    position: relative;
}
.Hero {
    color: #FFF;
}
.HeroSection h1 {
    color: #FFF;
    line-height: 60px;
}
.Hero h1 {
    font-size: 50px;
    letter-spacing: -.015em;
    font-weight: 400;
    margin: 0 auto;
    padding: 0 60px;
    text-shadow: none;
}
.Hero h1, .Hero h2 {
    color: inherit;
}
.primo-avenir h1, .primo-avenir h2, .primo-avenir h3 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.HeroSection p {
    margin: 15px 0 50px;
    font-size: 18.06px;
    color: #FFF;
    line-height: 30px;
}
.HeroSection .ProfessionSelector-container {
    margin: 0 60px;
}
.ContentSection {
    text-align: center;
}
.HeroSection .ProfessionSelector-container .ProfessionSelector {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
    display: inline-block;
    padding: 10px 8px 2px;
    border-radius: 5px;
}
input.query.ng-pristine.ng-invalid.ng-invalid-required {
    height: 43px;
    width: 558px;
    padding-left: 11px;
}
.HeroSection .ProfessionSelector-container .ProfessionSelector .form-field {
    padding-right: 10px;
    width: 70%;
    float: left;
}
.HeroSection .ProfessionSelector-container .ProfessionSelector .form-field {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.SearchForm {
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 41;
}
.primo input[type="text"]{
  webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
background-color: #FFF;
border: 1px solid #bbb;
color: #434343;
outline: 0;
width: 100%;
margin: 0;
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
-webkit-box-shadow: inset 0 1px 0 #eee;
-moz-box-shadow: inset 0 1px 0 #eee;
box-shadow: inset 0 1px 0 #eee;
font-size: 16.8px;
line-height: 20px;
padding: 10px;
text-overflow: ellipsis;
}
.HeroSection .ProfessionSelector-container .ProfessionSelector .form-field-nav {
    width: 30%;
    float: left;
}
.ProfessionSelector-container .ProfessionSelector .bttn, .HeroSection .ProfessionSelector-container .ProfessionSelector select {
    width: 100%;
}
.form-field-nav .bttn {
    font-size: 15.96px;
    color: #000;
    border: 1px solid #b2d8f0;
    background: -webkit-gradient(linear,left top,left bottom,from(#b2d8f0),to(#b2d8f0));
    background: -webkit-linear-gradient(top,#b2d8f0,#b2d8f0);
    background: -moz-linear-gradient(top,#b2d8f0,#b2d8f0);
    background: -ms-linear-gradient(top,#b2d8f0,#b2d8f0);
    background: -o-linear-gradient(top,#b2d8f0,#b2d8f0);
    background: linear-gradient(top,#b2d8f0,#b2d8f0);
    background-color: #b2d8f0;
    padding: 9px 20px !important;
}
.primo .bttn {
    width: auto;
    line-height: 22px;
    -webkit-font-smoothing: antialiased;
    padding: 9px 20px !important;
    font-size: 18px;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -ms-transition-duration: .1s;
    transition-duration: .1s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-style: normal;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: #434343;
    border: 1px solid #aeaeae;
    background: -webkit-gradient(linear,left top,left bottom,from(#FFF),to(#f1f1f1));
    background: -webkit-linear-gradient(top,#FFF,#f1f1f1);
    background: -moz-linear-gradient(top,#FFF,#f1f1f1);
    background: -ms-linear-gradient(top,#FFF,#f1f1f1);
    background: -o-linear-gradient(top,#FFF,#f1f1f1);
    background: linear-gradient(top,#FFF,#f1f1f1);
    background-color: #f8f8f8;
}
.primo .bttn, .primo .paginator-bttn {
    -webkit-box-sizing: border-box;
    -webkit-transition-duration: .1s;
    -moz-transition-duration: .1s;
    -o-transition-duration: .1s;
    -webkit-transition-delay: 0s;
    border-radius: 4px;
    -ms-user-select: none;
    text-align: center;
}
.primo .bttn, h1, h2, h3 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.primo .bttn, .pseudo-link, .stealth-link {
    cursor: pointer;
}
.page-grid {
    margin: 0 auto;
    display: block;
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
    max-width: 960px;
    padding-left: 16px;
    padding-right: 16px;
}
.quick_boxes{
  text-align: center;
  padding: 8px 0;
}
/*footer*/
.piede, .primo-responsive .piede {
    margin-top: 0;
}
.piede {
    background: #FFF;
    padding: 40px 0;
    border-top: 1px solid #E8E8E8;
    color: #000;
    *zoom: 1;
}
.piede::after, .piede::before {
    content: "";
    display: table;
}
.piede .navigation {
    font-size: 13.3px;
    display: inline-block;
    border: none;
}
.glorious-header .header-row .header-navigation a, .piede .copyright .disclaimer, .piede .navigation, .primo-avenir .glorious-header .header-logo .tagline, .primo-avenir .piede h4 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.dynamic-row {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    *zoom: 1;
}
.dynamic-row {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    *zoom: 1;
}
.dynamic-row {
    display: block;
    margin: 0;
    padding: 0;
}
.dynamic-row, body {
    width: 100%;
    *zoom: 1;
}
.dynamic-row > [class*="column"]:first-child {
    margin-left: 0;
}
.dynamic-row > [class*="column"]:first-child {
    margin-left: 0;
}
.dynamic-row > [class*="column"]:first-child {
    margin-left: 0;
}
.dynamic-column-3, .dynamic-row .column-3 {
    width: 22.92817679%;
}
.column-3 {
    width: 110px;
}
.column-1, .column-10, .column-11, .column-13, .column-14, .column-15, .column-16, .column-17, .column-18, .column-19, .column-2, .column-20, .column-21, .column-22, .column-23, .column-24, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8, .column-9 {
    display: inline;
    float: left;
    margin: 0 5px;
    min-height: 1px;
}
.piede .copyright {
    float: left;
    color: #666;
}
.piede .copyright .logo {
    background: url(../images/kliq-logo.png) top left no-repeat;
    width: 152px;
    height: 24px;
    display: block;
    text-indent: -9999px;
    overflow: hidden;
}
.piede .copyright a {
    white-space: nowrap;
    font-size: 11.2px;
    margin-bottom: 15px;
}
.piede a {
    color: #666;
}
.piede .copyright a::after {
    content: "|";
    padding: 0 7px;
    color: #d2d2d2;
    margin: 0 5px;
}
.piede .social {
    margin-top: 15px;
}
.piede .navigation ul li {
    margin-bottom: 9.33px;
}
.piede .social li {
    display: inline-block;
}
.dynamic-column-2, .dynamic-row .column-2 {
    width: 14.36464088%;
}
.column-4 {
  width: 37%;
}
.piede .navigation p, .piede .navigation ul {
    margin: 0 0 16.8px;
    font-size: 13.3px;
}
.piede .navigation ul li {
    margin-bottom: 9.33px;
}
.piede .navigation ul {
    list-style: none;
}
.ServiceBox-item-label {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 12px 8px;
    text-align: center;
    white-space: normal;
    background: #fff;
    border-radius: 0 0 4px 4px;
    border: 1px solid #edeeee;
}
.ServiceBox-item-label span {
    overflow: hidden;
    max-height: 66px;
}
.T2-S {
    font-size: 16px;
    line-height: 22px;
    color: #b2d8f0;
    font-weight: bold;
    display: grid;
}
.ServiceBox-item-image {
    height: 170px;
    position: relative;
    background-size: cover;
    background-color: #edeeee;
    border-radius: 4px 4px 0 0;
}
.ServiceBox-item-overlay {
    position: absolute;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    display: none;
    background: rgba(49,47,47,.25);
    border-radius: 4px 4px 0 0;
}
.ServiceBox-item:hover .ServiceBox-item-overlay {
    display: -webkit-flex;
    display: flex;
}
.mainContent {
    display: flex;
    background-color: #fafafa;
    padding-bottom: 60px;
}
.row-fluid.how-it-works{
  background: #fff;
}
.row-fluid.how-it-works h1{
  text-align: center;
  color: #b2d8f0;
  margin-bottom: 45px;
}
.CategoryNav {
    background: #f4f4f4;
    padding: 18px 0;
}
.CategoryNav, .CategoryNav-link {
    display: block;
}
.CategoryNav-list {
    text-align: center;
    white-space: nowrap;
}
.CategoryNav-item {
    display: inline-block;
    text-align: center;
    width: 100px;
}
.CategoryNav, .CategoryNav-link {
    display: block;
}
.icon-user.hasTooltip {
    width: 32px;
    height: 32px;
}
.IconContainer {
    display: inline-block;
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
.dynamic-row.GlobalFooter-legal{
  background: #f4f4f4;
  display: inline-flex;
  padding: 9px;
  font-size: small;
}

.dynamic-row.GlobalFooter-legal, .dynamic-row.GlobalFooter-legal a{
   color: #b2d8f0;
 }
ul.nav.menu_footer li a{
  padding: 0 !important;
}
ul.nav.menu_footer li a:hover{
  background: none;
  text-decoration: underline;
}
.icon-events {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background: url(http://localhost/kliq/templates/protostar/images/categories-sprite.png) -8px -9px;
}
.icon-homex {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background: url(http://localhost/kliq/templates/protostar/images/categories-sprite.png) -125px -5px;
}
.icon-lessons {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background: url(http://localhost/kliq/templates/protostar/images/categories-sprite.png) -247px -5px;
}
.icon-wellness {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background: url(http://localhost/kliq/templates/protostar/images/categories-sprite.png) -379px -9px;
}
.icon-business {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background: url(http://localhost/kliq/templates/protostar/images/categories-sprite.png) -513px -9px;
}
.icon-crafts {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background: url(http://localhost/kliq/templates/protostar/images/categories-sprite.png) -379px -9px;
}
.icon-more {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background: url(http://localhost/kliq/templates/protostar/images/categories-sprite.png) -936px -9px;
}
div.col-md-2.center-block a{
  color: #bec4c4;
}
